@media(min-height: 568px){
    .msg-page{
        height: 22rem !important;
    }
}
@media(min-height: 640px){ 
    .msg-page{
        height: 26.25rem !important;
    }
}
@media(min-height: 667px){
    .msg-page{
        height: 28rem !important;
    }
}
@media(min-height: 731px){
    .msg-page{
        height: 32rem !important;
    }
}
@media(min-height: 812px){
    .msg-page{
        height: 37rem !important;
    }
}
@media(min-height: 823px){
    .msg-page{
        height: 37.75rem !important;
    } 
}
@media(min-height: 1024px){
    .msg-page{
        height: 50.25rem !important;
    }
}
@media(min-height: 1366px){
    .msg-page{
        height: 71.5rem !important;
    }
}

.container{
    max-width: 100% !important;
    margin: auto;
    margin-top: 1%;
    font-family: noto-serif;
}

img{
    border-radius: 50%;
    width: 100%;
}
.msg-header{
    width: 100%;
    height: 10vh;
    border-bottom: none;
    background-color: #660000;
    display: flex;
    align-items: center;
    border: 0.1vh solid #660000;
}
.msg-header-img{
    border-radius: 50%;
    width: 9vh;
    height: 9vh;
    display: flex;
    margin-left: 0.5vw;
    margin-right: 1vw;
}
.active{
    width: 91vw;
}
.active h4{
    font-size: 5vh;
    font-weight: bold;
    margin-bottom: 0;
    color: #ffffff;
}
.active h6{
    font-size: 2.5vh;
    font-weight: bold;
    margin-left: 0.5vw;
    margin-top: 1vh;
    line-height: 0.125rem;
    color: #ffffff;
    white-space: pre-wrap;
}
.msg-inbox{
    border: 1vh solid #990000;
    overflow: hidden;
    height: 80vh;
    overflow-y: auto;
}
.chats{
    padding: 1vh 1vw 1vh 1vw;
}
.received-chats{
    display: flex;
    flex-direction: row-reverse;
}
.received-chats-img img{
    width: 2.50vw;
}
.received-msg{
    vertical-align: top;
    width: 40vw;
    margin-right: 2vw;
}
.received-msg-inbox p{
    background: #800000 none repeat scroll 0 0;
    border-radius: 0.625rem;
    color: #ffffff;
    font-size: 2vh;
    padding: 1vh 1vw 1vh 1vw;
    margin: 0;
}
.time{
    color: #777777;
    font-size: 1.75vh;
}
.outgoing-chats{
    overflow: hidden;
    margin: 5vh 1vw;
    display: flex;
    width: 40vw;
}
.outgoing-chats-msg p{
    background: #660000 none repeat scroll 0 0;
    color: #ffffff;
    border-radius: 0.625rem;
    font-size: 2vh;
    padding: 1vh 1vw 1vh 1vw;
    margin: 0;
}
.outgoing-chats-msg{
    width: 40vw;
    margin-left: 2vw;
}
.outgoing-chats-img img{
    width: 2.50vw;
}
.msg-bottom{
    height: 7vh;
    background-color: #660000;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 1vw;
    width: 100%;
}
.form-control-div{
    outline: none !important;
    border-radius: 1.25vh;
    min-width: 40% !important;
    background-color: #ffffff;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
}
.form{
    padding: 0vh 0vw 0vh 0vw;
    width: 100%;
    height: 100%;
}
.form-control{
    border-radius: 1.25vh;
    border: none !important;
    width: 100%;
    height: 100%;
    font-size: 2.25vh;
}
.button{
    display: flex;
    align-content: center;
}
.input-group-text{
    background: transparent !important;
    border: none !important;
    color: #660000;
    font-size: 3vh;
}