<div class="container">
    <div class="msg-header">
        <div class="msg-header-img">
            <img [src]=botImage>
        </div>
        <div class="active">
            <h4>{{botName}}</h4>
            <h6>{{status}}</h6>
        </div>
    </div>
    <div class="chat-page">
        <div class="msg-inbox">
            <div class="chats">
                <div class="msg-page">
                    <div *ngFor="let msg of messages" #Message> 
                        <ng-container *ngIf="!msg.sender; else elseTemplate">
                            <div class="received-chats">
                                <div class="received-chats-img">
                                    <img [src]="botImage">
                                </div>
                                <div class="received-msg">
                                    <div class="received-msg-inbox">
                                        <p>{{msg.msg}}</p>
                                        <span class="time">{{msg.time | date : 'hh:mm:ssa dd/MM/yyyy E'}}</span>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-template #elseTemplate>
                            <div class="outgoing-chats">
                                <div class="outgoing-chats-img">
                                    <img [src]="humenImage">
                                </div>
                                <div class="outgoing-chats-msg">
                                    <p>{{msg.msg}}</p>
                                    <span class="time">{{msg.time | date : 'hh:mm:ssa dd/MM/yyyy E'}}</span>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <div class="msg-bottom">
            <div class="form-control-div">
                <div class="form">
                    <input type="text" class="form-control" [placeholder]="inputPlaceholder" 
                        [(ngModel)]="typingMessage" (keydown)="enterKeyDown($event)">
                </div>
                <div class="button">
                    <span class="input-group-text" (click)="sendMessage()">
                            <i class="fa fa-paper-plane"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>